h1{
    text-align: center;
}
body{
    background-color: deepskyblue;
    background-image: ;
}
canvas{
    background-color: bisque;
    border: 8px solid black;
    display: block;
    width: 90vw;
    height: 85vh;
    margin-left: auto;
    margin-right: auto;
}